<div class="easyui-navpanel">
    <header>
        <div class="m-toolbar">
            <div class="m-title"></div>
            <!-- <div class="m-left">
                <a href="javascript:void(0)" class="easyui-linkbutton m-back" plain="true" outline="true">Back</a>
            </div> -->
            <div class="m-right">
                <a href="javascript:void(0)" class="easyui-menubutton" data-options="iconCls:'icon-more',menu:'#mm',menuAlign:'right',hasDownArrow:false"></a>
                <!--<a href="/profile" class="easyui-linkbutton" iconCls="icon-man" plain="true" outline="true">Профиль</a>-->
            </div>
        </div>
    </header>
    <div style="text-align: center;font-size: 20px;">
        Игра закрыта,
        <br> <a href="/stat/<%=game.id%>">статистика</a>
        <br> <a href="/game/exit/<%=game.id%>">выход</a>
    </div>
</div>
